<html>
<head>
    <title> front page</title>
    <link href="/results.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="app-container">
    <!-- A fixed header, using flexbox -->
    <header>
        <!-- A navigation bar fixed to the top of the screen -->
        <nav class="navigation-bar" role="navigation">
            <a>Romance</a>
            <a>Horror</a>
            <a>Action</a>
            <a>Adventure</a>
            <a>Thriller</a>
            <input class="search-box"type="text" placeholder="quick search type title"></input>
        </nav>
    </header>
    <!-- The scrollable main view container -->
    <main>
        <!-- A main header footer fixed to the bottom of the screen -->

        <h1 id="main-title">Results</h1>

        <!-- main paragraph results should get populated in ul within div-->
        <div>
            <ul>
                <li></li>
            </ul>

        </div>
                <!-- button should take you to add movie or tv-show page -->

        <button class="button"> ADD TV-SHOW OR MOVIE</button>
        <br>

        <!-- search bar with some text that has a hyperlink should take you to another advanced search page -->


    </main>
    <!-- A footer fixed to the bottom of the screen -->
    <footer>

    </footer>
</div>
</body>
</html>