<html>
<head>
    <title>successfull add</title>
    <link href="/successful-add.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="app-container">
    <!-- A fixed header, using flexbox -->
    <header>
        <!-- A navigation bar fixed to the top of the screen -->
        <nav class="navigation-bar" role="navigation">
            <a>Romance</a>
            <a>Horror</a>
            <a>Action</a>
            <a>Adventure</a>
            <a>Thriller</a>
            <input class="search-box"type="text" placeholder="quick search type title"></input>
        </nav>
    </header>
    <!-- The scrollable main view container -->
    <main>
        <!-- A main header footer fixed to the bottom of the screen -->

        <h2 class="main-title">YOU HAVE SUCESSFULLY ADDED</h2>
        <h2 class="main-title">TV-SHOW OR MOVIE</h2>


        <!-- button should take you to add movie or tv-show page -->

        <button class="button"> ADD ANOTHER TV-SHOW OR MOVIE</button>


        <!-- some text that has a hyperlink should take you to another advanced search page -->
        <p class="text-about-asearch">Use the box in the top right corner of the page to do a quick search by title for a tv-show or movie. Alternatively <a class="text-about-asearch">click here<a> to do an advanced search. You can also look at movies or tv-shows by genre by clicking on any of the genres in the top menu on this page.</p>

    </main>
    <!-- A footer fixed to the bottom of the screen -->
    <footer>

    </footer>
</div>
</body>
</html>