<html>
<head>
    <title>unsuccessful-results</title>
    <link href="/unsuccessful-add.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="app-container">
    <!-- A fixed header, using flexbox -->
    <header>
        <!-- A navigation bar fixed to the top of the screen -->
        <nav class="navigation-bar" role="navigation">
            <a>Romance</a>
            <a>Horror</a>
            <a>Action</a>
            <a>Adventure</a>
            <a>Thriller</a>
            <input class="search-box"type="text" placeholder="quick search type title"></input>
        </nav>
    </header>
    <!-- The scrollable main view container -->
    <main>
        <!-- A main header footer fixed to the bottom of the screen -->

        <h2 class="main-title">:( THERE WAS A PROBLEM YOUR MOVIE OR TV-SHOW WAS NOT ADDED TO THE DATABASE</h2>


        <!-- button should take you to add movie or tv-show page -->

        <button class="button"> CLICK HERE TO TRY ADDING TV-SHOW OR MOVIE AGAIN</button>
        <h3>OR</h3>

        <!-- some text that has a hyperlink should take you to another advanced search page -->
        <p class="text-about-asearch"> It might be that the item you were trying to add already exists in the database. You could use the box in the top right corner of the page to do a quick search by title for the item you were trying to add. Or <a class="text-about-asearch">click here</a> to do an advanced search.</p>

    </main>
    <!-- A footer fixed to the bottom of the screen -->
    <footer>

    </footer>
</div>
</body>
</html>